*{
    margin: 0;
    padding: 0;
}

:root{
    --purple: #8390ff;
    --blue: #62bcfc;
    --paleBlue: #e2e5ff;
    --gray: #f9f9ff;
    --dark: #04091e;
}

body{
    font-family: 'Roboto', sans-serif;
}

/* Nav==> START */
nav{
    display: flex;
    padding: 2rem 0;
    position: sticky;
    top: 0;
}

nav ul{
    list-style-type: none;
    display: flex;
}

nav ul li{
    margin: 0 1rem;
}

/* Nav==> END */

main .banner{
    background-color: var(--purple);
}